services:
  backend:
    build:
      context: ./backend
    container_name: ttt-backend
    command: gunicorn --worker-class eventlet -w 1 -b 0.0.0.0:5000 app:app
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
    container_name: ttt-frontend
    ports:
      - "3000:80"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      ./frontend/.env
    depends_on:
      - backend
    restart: unless-stopped
